# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# RNA-seq/02_GSEA/output/**/*.png
# RNA-seq/02_GSEA/output/**/*.html
# RNA-seq/02_GSEA/output/**/*.tsv
##
# $root = "RNA-seq\02_GSEA\output"; $threshold = 255; $outFile = Join-Path (Get-Location) "ignoreFiles.txt"
# New-Item -Path $outFile -ItemType File -Force | Out-Null; Clear-Content -Path $outFile -ErrorAction SilentlyContinue
# Get-ChildItem $root -Recurse -File | ForEach-Object {
#     $pathLength = $_.FullName.Length
#     if ($pathLength -gt $threshold) {
#         Add-Content -Path $outFile -Value ("{0}`t{1}" -f $_.FullName, $pathLength)
#     }
# }
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_216_YFP_218_MKATE_vs_nonino.Gsea.1635258095232/29.4.1.57 PROTEIN.POSTRANSLATIONAL MODIFICATION.KINASE.RECEPTOR LIKE CYTOPLASMATIC KINASE VII.html
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_216_YFP_218_MKATE_vs_nonino.Gsea.1635258095232/29.4.1.57 PROTEIN.POSTRANSLATIONAL MODIFICATION.KINASE.RECEPTOR LIKE CYTOPLASMATIC KINASE VII.tsv
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_216_YFP_218_MKATE_vs_nonino.Gsea.1635258095232/29.4.1.57_PROTEIN.POSTRANSLATIONAL_MODIFICATION.KINASE.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_VII_778.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_216_YFP_218_MKATE_vs_nonino.Gsea.1635258095232/enplot_20.1.7.6.1_STRESS.BIOTIC.PR-PROTEINS.PR6_(PROTEINASE_INHIBITORS).TRYPSIN_INHIBITOR_741.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_216_YFP_218_MKATE_vs_nonino.Gsea.1635258095232/enplot_26.21_MISC.PROTEASE_INHIBITOR_SEED_STORAGE_LIPID_TRANSFER_PROTEIN_(LTP)_FAMILY_PROTEIN_819.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_216_YFP_218_MKATE_vs_nonino.Gsea.1635258095232/enplot_27.3.23_RNA.REGULATION_OF_TRANSCRIPTION.HEAT-SHOCK_TRANSCRIPTION_FACTOR_FAMILY_(HSF)_750.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_216_YFP_218_MKATE_vs_nonino.Gsea.1635258095232/enplot_29.2.1.1.1.2_PROTEIN.SYNTHESIS.RIBOSOMAL_PROTEIN.PROKARYOTIC.CHLOROPLAST.50S_SUBUNIT_840.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_216_YFP_218_MKATE_vs_nonino.Gsea.1635258095232/enplot_35.1.5_NOT_ASSIGNED.NO_ONTOLOGY.PENTATRICOPEPTIDE_(PPR)_REPEAT-CONTAINING_PROTEIN_825.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_216_YFP_vs_nonino.Gsea.1635257984769/17.5.1.1 HORMONE METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE SYNTHASE.html
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_216_YFP_vs_nonino.Gsea.1635257984769/enplot_16.8.1.12_SECONDARY_METABOLISM.FLAVONOIDS.ANTHOCYANINS.ANTHOCYANIDIN_3-O-GLUCOSYLTRANSFERASE_286.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_MKATE_vs_nonino.Gsea.1635258046201/17.5.1.1 HORMONE METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE SYNTHASE.html
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_MKATE_vs_nonino.Gsea.1635258046201/17.5.1.1 HORMONE METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE SYNTHASE.tsv
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_MKATE_vs_nonino.Gsea.1635258046201/17.5.1.1_HORMONE_METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHAS.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHASE_549.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_MKATE_vs_nonino.Gsea.1635258046201/enplot_17.5.1.1_HORMONE_METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHASE_548.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_MKATE_vs_nonino.Gsea.1635258046201/enplot_29.4.1.57_PROTEIN.POSTRANSLATIONAL_MODIFICATION.KINASE.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_VII.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_VII_533.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/16.8.1.12 SECONDARY METABOLISM.FLAVONOIDS.ANTHOCYANINS.ANTHOCYANIDIN 3-O-GLUCOSYLTRANSFERASE.html
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/16.8.1.12 SECONDARY METABOLISM.FLAVONOIDS.ANTHOCYANINS.ANTHOCYANIDIN 3-O-GLUCOSYLTRANSFERASE.tsv
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/16.8.1.12_SECONDARY_METABOLISM.FLAVONOIDS.ANTHOCYANINS.ANTHOCYANIDIN_3-O-GLUCOSYLTRANSFERASE_650.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/17.5.1.1 HORMONE METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE SYNTHASE.html
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/17.5.1.1 HORMONE METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE SYNTHASE.tsv
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/17.5.1.1_HORMONE_METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHAS.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHASE_644.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/29.2.2.3.4 PROTEIN.SYNTHESIS.RIBOSOME BIOGENESIS.PRE-RRNA PROCESSING AND MODIFICATIONS.WD-REPEAT PROTEINS.html
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/29.2.2.3.4 PROTEIN.SYNTHESIS.RIBOSOME BIOGENESIS.PRE-RRNA PROCESSING AND MODIFICATIONS.WD-REPEAT PROTEINS.tsv
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/29.2.2.3.4_PROTEIN.SYNTHESIS.RIBOSOME_BIOGENESIS.PRE-RRNA_PROCESSING_AND_MODIFICATIONS.WD-REPEAT_PRO.WD-REPEAT_PROTEINS_728.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/29.4.1.57 PROTEIN.POSTRANSLATIONAL MODIFICATION.KINASE.RECEPTOR LIKE CYTOPLASMATIC KINASE VII.html
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/29.4.1.57 PROTEIN.POSTRANSLATIONAL MODIFICATION.KINASE.RECEPTOR LIKE CYTOPLASMATIC KINASE VII.tsv
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/29.4.1.57_PROTEIN.POSTRANSLATIONAL_MODIFICATION.KINASE.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_VII_653.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/enplot_16.8.1.12_SECONDARY_METABOLISM.FLAVONOIDS.ANTHOCYANINS.ANTHOCYANIDIN_3-O-GLUCOSYLTRANSFERASE_649.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/enplot_17.5.1.1_HORMONE_METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHASE_643.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/enplot_20.1.7.6.1_STRESS.BIOTIC.PR-PROTEINS.PR6_(PROTEINASE_INHIBITORS).TRYPSIN_INHIBITOR_655.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/enplot_26.21_MISC.PROTEASE_INHIBITOR_SEED_STORAGE_LIPID_TRANSFER_PROTEIN_(LTP)_FAMILY_PROTEIN_706.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/enplot_27.3.23_RNA.REGULATION_OF_TRANSCRIPTION.HEAT-SHOCK_TRANSCRIPTION_FACTOR_FAMILY_(HSF)_670.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/enplot_29.2.1.1.1.2_PROTEIN.SYNTHESIS.RIBOSOMAL_PROTEIN.PROKARYOTIC.CHLOROPLAST.50S_SUBUNIT_709.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/enplot_29.2.2.3.4_PROTEIN.SYNTHESIS.RIBOSOME_BIOGENESIS.PRE-RRNA_PROCESSING_AND_MODIFICATIONS.WD-REP.WD-REPEAT_PROTEINS_727.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/enplot_29.4.1.57_PROTEIN.POSTRANSLATIONAL_MODIFICATION.KINASE.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_VII.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_VII_652.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_218_MKATE_vs_nonino.Gsea.1635258072566/enplot_35.1.5_NOT_ASSIGNED.NO_ONTOLOGY.PENTATRICOPEPTIDE_(PPR)_REPEAT-CONTAINING_PROTEIN_697.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_vs_nonino.Gsea.1635258015001/17.5.1.1 HORMONE METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE SYNTHASE.html
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_vs_nonino.Gsea.1635258015001/17.5.1.1_HORMONE_METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHAS.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHASE_427.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_218_YFP_vs_nonino.Gsea.1635258015001/enplot_17.5.1.1_HORMONE_METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHASE_426.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_rest_vs_noninoculated.Gsea.1635256824749/17.5.1.1 HORMONE METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE SYNTHASE.html
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_rest_vs_noninoculated.Gsea.1635256824749/17.5.1.1 HORMONE METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE SYNTHASE.tsv
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_rest_vs_noninoculated.Gsea.1635256824749/17.5.1.1_HORMONE_METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHAS.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHASE_34.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_rest_vs_noninoculated.Gsea.1635256824749/enplot_16.8.1.12_SECONDARY_METABOLISM.FLAVONOIDS.ANTHOCYANINS.ANTHOCYANIDIN_3-O-GLUCOSYLTRANSFERASE_60.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_rest_vs_noninoculated.Gsea.1635256824749/enplot_17.5.1.1_HORMONE_METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHASE_33.png
RNA-seq/02_GSEA/output/Interactions/RNAseq_Bacillus_root_exp2_rest_vs_noninoculated.Gsea.1635256824749/enplot_29.4.1.57_PROTEIN.POSTRANSLATIONAL_MODIFICATION.KINASE.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_VII.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_VII_51.png
RNA-seq/02_GSEA/output/Monocultures/leaf_PS216_versus_noni.Gsea.1610967073011/16.5.1.1.1.11 SECONDARY METABOLISM.SULFUR-CONTAINING.GLUCOSINOLATES.SYNTHESIS.ALIPHATIC.GLUCOSINOLATE 2-OXOGLUTARATE-DEPENDENT DIOXYGENASE (AOP).html
RNA-seq/02_GSEA/output/Monocultures/leaf_PS216_versus_noni.Gsea.1610967073011/16.5.1.1.1.11 SECONDARY METABOLISM.SULFUR-CONTAINING.GLUCOSINOLATES.SYNTHESIS.ALIPHATIC.GLUCOSINOLATE 2-OXOGLUTARATE-DEPENDENT DIOXYGENASE (AOP).tsv
RNA-seq/02_GSEA/output/Monocultures/leaf_PS216_versus_noni.Gsea.1610967073011/16.5.1.1.1.11_SECONDARY_METABOLISM.SULFUR-CONTAINING.GLUCOSINOLATES.SYNTHESIS.ALIPHATIC.GLUCOSINOLAT.GLUCOSINOLATE_2-OXOGLUTARATE-DEPENDENT_DIOXYGENASE_(AOP)_848.png
RNA-seq/02_GSEA/output/Monocultures/leaf_PS216_versus_noni.Gsea.1610967073011/17.5.1.1_HORMONE_METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHAS.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHASE_842.png
RNA-seq/02_GSEA/output/Monocultures/leaf_PS216_versus_noni.Gsea.1610967073011/29.2.2.3.5_PROTEIN.SYNTHESIS.RIBOSOME_BIOGENESIS.PRE-RRNA_PROCESSING_AND_MODIFICATIONS.DEXD-BOX_HELI.DEXD-BOX_HELICASES_1196.png
RNA-seq/02_GSEA/output/Monocultures/leaf_PS216_versus_noni.Gsea.1610967073011/enplot_16.5.1.1.1.11_SECONDARY_METABOLISM.SULFUR-CONTAINING.GLUCOSINOLATES.SYNTHESIS.ALIPHATIC.GLUCO.GLUCOSINOLATE_2-OXOGLUTARATE-DEPENDENT_DIOXYGENASE_(AOP)_847.png
RNA-seq/02_GSEA/output/Monocultures/leaf_PS216_versus_noni.Gsea.1610967073011/enplot_17.5.1.1_HORMONE_METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHASE_841.png
RNA-seq/02_GSEA/output/Monocultures/leaf_PS216_versus_noni.Gsea.1610967073011/enplot_29.2.2.3.5_PROTEIN.SYNTHESIS.RIBOSOME_BIOGENESIS.PRE-RRNA_PROCESSING_AND_MODIFICATIONS.DEXD-B.DEXD-BOX_HELICASES_1195.png
RNA-seq/02_GSEA/output/Monocultures/leaf_PS216_versus_noni.Gsea.1610967073011/enplot_29.4.1.57_PROTEIN.POSTRANSLATIONAL_MODIFICATION.KINASE.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_VII.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_VII_793.png
RNA-seq/02_GSEA/output/Monocultures/leaf_PS218_versus_noni.Gsea.1610967086768/16.5.1.1.1.11 SECONDARY METABOLISM.SULFUR-CONTAINING.GLUCOSINOLATES.SYNTHESIS.ALIPHATIC.GLUCOSINOLATE 2-OXOGLUTARATE-DEPENDENT DIOXYGENASE (AOP).html
RNA-seq/02_GSEA/output/Monocultures/leaf_PS218_versus_noni.Gsea.1610967086768/16.5.1.1.1.11 SECONDARY METABOLISM.SULFUR-CONTAINING.GLUCOSINOLATES.SYNTHESIS.ALIPHATIC.GLUCOSINOLATE 2-OXOGLUTARATE-DEPENDENT DIOXYGENASE (AOP).tsv
RNA-seq/02_GSEA/output/Monocultures/leaf_PS218_versus_noni.Gsea.1610967086768/16.5.1.1.1.11_SECONDARY_METABOLISM.SULFUR-CONTAINING.GLUCOSINOLATES.SYNTHESIS.ALIPHATIC.GLUCOSINOLAT.GLUCOSINOLATE_2-OXOGLUTARATE-DEPENDENT_DIOXYGENASE_(AOP)_1007.png
RNA-seq/02_GSEA/output/Monocultures/leaf_PS218_versus_noni.Gsea.1610967086768/17.5.1.1_HORMONE_METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHAS.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHASE_839.png
RNA-seq/02_GSEA/output/Monocultures/leaf_PS218_versus_noni.Gsea.1610967086768/enplot_16.5.1.1.1.11_SECONDARY_METABOLISM.SULFUR-CONTAINING.GLUCOSINOLATES.SYNTHESIS.ALIPHATIC.GLUCO.GLUCOSINOLATE_2-OXOGLUTARATE-DEPENDENT_DIOXYGENASE_(AOP)_1006.png
RNA-seq/02_GSEA/output/Monocultures/leaf_PS218_versus_noni.Gsea.1610967086768/enplot_17.5.1.1_HORMONE_METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHASE_838.png
RNA-seq/02_GSEA/output/Monocultures/leaf_PS218_versus_noni.Gsea.1610967086768/enplot_29.4.1.57_PROTEIN.POSTRANSLATIONAL_MODIFICATION.KINASE.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_VII.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_VII_904.png
RNA-seq/02_GSEA/output/Monocultures/root_PS216_26h_versus_noniB.Gsea.1610971009373/17.5.1.1_HORMONE_METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHAS.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHASE_2269.png
RNA-seq/02_GSEA/output/Monocultures/root_PS216_26h_versus_noniB.Gsea.1610971009373/enplot_17.5.1.1_HORMONE_METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHASE_2267.png
RNA-seq/02_GSEA/output/Monocultures/root_PS216_26h_versus_noniB.Gsea.1610971009373/enplot_29.4.1.57_PROTEIN.POSTRANSLATIONAL_MODIFICATION.KINASE.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_VII.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_VII_2299.png
RNA-seq/02_GSEA/output/Monocultures/root_PS216_2h_versus_noniA.Gsea.1610970977720/16.5.1.1.1.11 SECONDARY METABOLISM.SULFUR-CONTAINING.GLUCOSINOLATES.SYNTHESIS.ALIPHATIC.GLUCOSINOLATE 2-OXOGLUTARATE-DEPENDENT DIOXYGENASE (AOP).html
RNA-seq/02_GSEA/output/Monocultures/root_PS216_2h_versus_noniA.Gsea.1610970977720/16.5.1.1.1.11 SECONDARY METABOLISM.SULFUR-CONTAINING.GLUCOSINOLATES.SYNTHESIS.ALIPHATIC.GLUCOSINOLATE 2-OXOGLUTARATE-DEPENDENT DIOXYGENASE (AOP).tsv
RNA-seq/02_GSEA/output/Monocultures/root_PS216_2h_versus_noniA.Gsea.1610970977720/16.5.1.1.1.11_SECONDARY_METABOLISM.SULFUR-CONTAINING.GLUCOSINOLATES.SYNTHESIS.ALIPHATIC.GLUCOSINOLAT.GLUCOSINOLATE_2-OXOGLUTARATE-DEPENDENT_DIOXYGENASE_(AOP)_2429.png
RNA-seq/02_GSEA/output/Monocultures/root_PS216_2h_versus_noniA.Gsea.1610970977720/29.2.2.3.4_PROTEIN.SYNTHESIS.RIBOSOME_BIOGENESIS.PRE-RRNA_PROCESSING_AND_MODIFICATIONS.WD-REPEAT_PRO.WD-REPEAT_PROTEINS_2095.png
RNA-seq/02_GSEA/output/Monocultures/root_PS216_2h_versus_noniA.Gsea.1610970977720/enplot_16.5.1.1.1.11_SECONDARY_METABOLISM.SULFUR-CONTAINING.GLUCOSINOLATES.SYNTHESIS.ALIPHATIC.GLUCO.GLUCOSINOLATE_2-OXOGLUTARATE-DEPENDENT_DIOXYGENASE_(AOP)_2427.png
RNA-seq/02_GSEA/output/Monocultures/root_PS216_2h_versus_noniA.Gsea.1610970977720/enplot_29.2.2.3.4_PROTEIN.SYNTHESIS.RIBOSOME_BIOGENESIS.PRE-RRNA_PROCESSING_AND_MODIFICATIONS.WD-REP.WD-REPEAT_PROTEINS_2094.png
RNA-seq/02_GSEA/output/Monocultures/root_PS216_2h_versus_noniA.Gsea.1610970977720/enplot_29.4.1.53_PROTEIN.POSTRANSLATIONAL_MODIFICATION.KINASE.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_III.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_III_2659.png
RNA-seq/02_GSEA/output/Monocultures/root_PS216_2h_versus_noniA.Gsea.1610970977720/enplot_9.1.2_MITOCHONDRIAL_ELECTRON_TRANSPORT___ATP_SYNTHESIS.NADH-DH_(TYPE_I).LOCALISATION_NOT_CLEA.LOCALISATION_NOT_CLEAR_1996.png
RNA-seq/02_GSEA/output/Monocultures/root_PS218_26h_versus_noniB.Gsea.1610971023665/13.1.6.5.3_AMINO_ACID_METABOLISM.SYNTHESIS.AROMATIC_AA.TRYPTOPHAN.PHOSPHORIBOSYANTHRANILATE_ISOMERAS.PHOSPHORIBOSYANTHRANILATE_ISOMERASE_3029.png
RNA-seq/02_GSEA/output/Monocultures/root_PS218_26h_versus_noniB.Gsea.1610971023665/17.5.1.1_HORMONE_METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHAS.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHASE_2570.png
RNA-seq/02_GSEA/output/Monocultures/root_PS218_26h_versus_noniB.Gsea.1610971023665/enplot_13.1.6.5.3_AMINO_ACID_METABOLISM.SYNTHESIS.AROMATIC_AA.TRYPTOPHAN.PHOSPHORIBOSYANTHRANILATE_I.PHOSPHORIBOSYANTHRANILATE_ISOMERASE_3028.png
RNA-seq/02_GSEA/output/Monocultures/root_PS218_26h_versus_noniB.Gsea.1610971023665/enplot_17.5.1.1_HORMONE_METABOLISM.ETHYLENE.SYNTHESIS-DEGRADATION.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_.1-AMINOCYCLOPROPANE-1-CARBOXYLATE_SYNTHASE_2569.png
RNA-seq/02_GSEA/output/Monocultures/root_PS218_26h_versus_noniB.Gsea.1610971023665/enplot_29.4.1.57_PROTEIN.POSTRANSLATIONAL_MODIFICATION.KINASE.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_VII.RECEPTOR_LIKE_CYTOPLASMATIC_KINASE_VII_2680.png
RNA-seq/02_GSEA/output/Monocultures/root_PS218_26h_versus_noniB.Gsea.1610971023665/enplot_9.1.2_MITOCHONDRIAL_ELECTRON_TRANSPORT___ATP_SYNTHESIS.NADH-DH_(TYPE_I).LOCALISATION_NOT_CLEA.LOCALISATION_NOT_CLEAR_3118.png
RNA-seq/02_GSEA/output/Monocultures/root_PS218_2h_versus_noniA.Gsea.1610970986809/16.5.1.1.1.11 SECONDARY METABOLISM.SULFUR-CONTAINING.GLUCOSINOLATES.SYNTHESIS.ALIPHATIC.GLUCOSINOLATE 2-OXOGLUTARATE-DEPENDENT DIOXYGENASE (AOP).html
RNA-seq/02_GSEA/output/Monocultures/root_PS218_2h_versus_noniA.Gsea.1610970986809/16.5.1.1.1.11 SECONDARY METABOLISM.SULFUR-CONTAINING.GLUCOSINOLATES.SYNTHESIS.ALIPHATIC.GLUCOSINOLATE 2-OXOGLUTARATE-DEPENDENT DIOXYGENASE (AOP).tsv
RNA-seq/02_GSEA/output/Monocultures/root_PS218_2h_versus_noniA.Gsea.1610970986809/16.5.1.1.1.11_SECONDARY_METABOLISM.SULFUR-CONTAINING.GLUCOSINOLATES.SYNTHESIS.ALIPHATIC.GLUCOSINOLAT.GLUCOSINOLATE_2-OXOGLUTARATE-DEPENDENT_DIOXYGENASE_(AOP)_2807.png
RNA-seq/02_GSEA/output/Monocultures/root_PS218_2h_versus_noniA.Gsea.1610970986809/17.1.1.1.12_HORMONE_METABOLISM.ABSCISIC_ACID.SYNTHESIS-DEGRADATION.SYNTHESIS.ABSCISIC_ALDEHYDE_OXIDA.ABSCISIC_ALDEHYDE_OXIDASE_2864.png
RNA-seq/02_GSEA/output/Monocultures/root_PS218_2h_versus_noniA.Gsea.1610970986809/enplot_16.5.1.1.1.11_SECONDARY_METABOLISM.SULFUR-CONTAINING.GLUCOSINOLATES.SYNTHESIS.ALIPHATIC.GLUCO.GLUCOSINOLATE_2-OXOGLUTARATE-DEPENDENT_DIOXYGENASE_(AOP)_2806.png
RNA-seq/02_GSEA/output/Monocultures/root_PS218_2h_versus_noniA.Gsea.1610970986809/enplot_17.1.1.1.12_HORMONE_METABOLISM.ABSCISIC_ACID.SYNTHESIS-DEGRADATION.SYNTHESIS.ABSCISIC_ALDEHYD.ABSCISIC_ALDEHYDE_OXIDASE_2863.png


!**/gsea_report_*.tsv

